[submodule "nextcloud-docker-dev"]
	path = nextcloud-docker-dev
	url = git@github.com:weijiangan/nextcloud-docker-dev.git
[submodule "workspace-server"]
	path = workspace/server
	url = https://github.com/nextcloud/server.git
[submodule "core-rs/vendor/dav-server"]
	path = core-rs/vendor/dav-server
	url = git@github.com:weijiangan/dav-server-rs.git
